__pycache__/**
.kaggle*/**
.venv*/**
.vscode*/**
cleaned_train_eegs*/**
denoised_train*/**
hjorth_*/**
test_eegs/**
test_spectrograms/**
train_eegs/**
train_spectrograms/**
generalized*.json
EDA/__pycache__/**